
.gradient-button {
    background: linear-gradient(45deg, #47dcd1, #dc8dec);
    /* הגדרת הגרדיאנט */
    border: 0;
    border-radius: 0;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    /* אופציונלי - מוסיף סמן יד */
}

.gradient-button:hover,
.gradient-button:active {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #47dcd1, #dc8dec);
    color: #743ad5;
    background: none;
    background-color: #fff;
    transition: all 0.3s ease;
}

.gradient-border-button {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #47dcd1, #dc8dec);
    color: #743ad5;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 0;
    width: 10vw;
    transition: all 0.3s ease;
    cursor: pointer;
}

.gradient-border-button:hover,
.gradient-border-button:active {
    background: linear-gradient(45deg, #47dcd1, #dc8dec);
    border: 0;
    border-radius: 0;
    color: white;
}